/*
   <!--
        Blackbeard Jeopardy
        Author: Rita DeBraal, et al
        Date: 8/18/2019

        filename: debraal-jeopardy-choice-A.css   
    -->

*/

/* Heading */

h1 {
    text-align: center;
    color: red;
    background-color: navy;
}

h1 {
    background: url(images/blackbeard%20pirate.jpeg) right;
}

/* Body */
body {
    font-size: 20px;
    background-color: navy;
}

img {
    display: block;
    background-color: navy;
    opacity: 0.25;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
}

/* Table style */
table.jeopardy {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
    /* Table Header Row Style */
table.jeopardy tr:first-of-type {
    background-color: #51CBFC;
}

table.jeopardy th, table.jeopardy td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table.jeopardy td {
    font-weight: bold;
}