.board {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .row {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .tile {
      top: 0;
      bottom: 0;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-family: impact;
      color: #ddd;
      background: $tile-bg;
      border: 3px solid #000;

      span {
        text-align: center;
      }

      .options {
        font-size: 40px;
      }
    }

    .value {
      display: block;
    }

    .question {
      display: none;
    }

    .tile.active {
      border-width: 0;
      font-size: 2rem;
      position: fixed;
      padding: 2rem;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 5;

      .value {
        display: none;
      }

      .question {
        display: block;
      }
    }
  }
}
